[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
ase = "*"
dlmontepython = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
PyYAML = "*"
scipy = "*"